body {
    background: #222;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial;
}

canvas {
    background: #000;
    border: 3px solid #4CAF50;
}
